<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    {% block libs %}

    {% endblock %}

    {% block styles %}

    {% endblock %}
    <title>Pricemory</title>
</head>
<body>

<h2>BASE TEMPLATE</h2>

{% block content %}

{% endblock %}

{#  SCRIPTS #}
{% block scripts %}

{% endblock %}

</body>
</html>