{% load l10n %}
{% load static %}

<!DOCTYPE html>

{# TODO move color to style#}
<html lang="es" style="background-color: #fafafa;">
<head>
    <meta charset="UTF-8">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2bf0964eb7.js" crossorigin="anonymous"></script>

    {% block libs %}

    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% endblock %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/cart.png' %}">

    <title>Pricemory</title>
</head>

<body>
    {% include 'product/header.html' %}

    {% block content %}

    {% endblock %}

    <hr class="separator">
    {% include 'product/footer.html' %}

    </div>
    {#  SCRIPTS #}
    {% block scripts %}

    {% endblock %}
</body>
</html>