<footer class="footer columns" style="padding: 1rem">
    <div class="column is-4 is-offset-8 is-size-7 has-text-right-desktop is-family-monospace">
        Desarrollado por Mauricio Medina
        <br> Código fuente libre bajo licencia <a href="https://opensource.org/licenses/GPL-3.0">GPLv3</a>
        <br><a href="https://github.com/mauri-medina/pricemory" target="_blank" rel="noopener noreferrer">Revisá el
        código<span class="icon"><i class="fab fa-github" title="logo Github"></i></span></a>
    </div>
</footer>
