{% extends 'product/base.html' %}
{% load l10n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block libs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="columns has-text-centered mb-5">
            <div class="column is-12">

                <p class="title is-2">Historial de precios de Tiendas Paraguayas</p>
                <p class="subtitle is-5 mb-0">{{ statistics.shopsCount }} Tiendas </p>
                <p class="subtitle is-5 mb-0">{{ statistics.productsCount }} Productos </p>
                <p class="subtitle is-5 mb-0">{{ statistics.pricesCount }} Precios Registrados</p>
                <p class="subtitle is-5 mb-0">
                    Fecha ultimo registro:
                    {{ statistics.LastRegisterDate | date:"d/m/Y" }}
                </p>

            </div>
        </div>

        <!-- < Search Form > -->
        <div class="columns is-centered">
            <form method="get" action="" id="search-form" class="box column is-half">
                <div class="">
                    <div class="column is-four-fifths">
                        <div class="field">
                            <label class="label">Nombre del producto</label>
                            <div class="control">{{ myFilter.form.name }}</div>
                        </div>

                        {#                        <div class="field">#}
                        {#                            <label class="label">URL de la pagina del producto</label>#}
                        {#                            <div class="control">{{ myFilter.form.url }}</div>#}
                        {#                        </div>#}

                        <div class="field">
                            <label class="label">Codigo de Barras</label>
                            <div class="control">{{ myFilter.form.barcode }}</div>
                        </div>

                        <div class="field">
                            <label class="label">Marca</label>
                            <div class="select">{{ myFilter.form.brand }}</div>
                        </div>

                        <div class="field">
                            <label class="label">Tienda</label>
                            <div class="select">{{ myFilter.form.shop }}</div>
                        </div>

                        <div class="field is-grouped is-grouped-centered mt-6">
                            <div class="control">
                                <button type="submit" class="button is-link">Buscar Productos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- </ Search Form > -->

        <!-- < Results Table > -->
        {% if products %}
            <div>
                <table class="table is-striped">
                    <thead>
                    <tr>
                        <th class="has-text-centered">
                            Comparar
                            <form id="go-to-compare-page-form" action="{% url 'chart' %}">
                                <button id="comparison-button" type="submit"
                                        class="button is-primary is-hidden" title="Disabled button">
                                    Ver Comparacion
                                </button>
                            </form>
                        </th>
                        <th class="has-text-centered">Nombre</th>
                        <th class="has-text-centered">Codigo de Barras</th>
                        <th class="has-text-centered">Tienda</th>
                        <th class="has-text-centered">Marca</th>
                        <th class="has-text-centered">Precio</th>
                        <th class="has-text-centered">URL</th>
                        <th class="sortable" sortable="num_prices">Historial</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="has-text-centered">
                                <label>
                                    <input type="checkbox" form="go-to-compare-page-form" name="product_id"
                                           value="{{ product.id | unlocalize }}" onclick="toggleShowComparisonButton()"/>
                                </label>
                            </td>
                            <td>{{ product.name }}</td>
                            <td class="has-text-centered">{{ product.barcode|default_if_none:"-" }}</td>
                            <td class="has-text-centered">{{ product.shop.name }}</td>
                            <td class="has-text-centered">
                                {% if product.brand %} {{ product.brand.name }} {% else %}-{% endif %}
                            </td>
                            <td class="has-text-centered">{{ product.pricehistory_set.last.price }}</td>
                            <td>
                                <a class="button is-info is-small is-inverted"
                                   href="{{ product.url }}" target="_blank">
                                    URL
                                </a>
                            </td>
                            <td class="has-text-centered">
                                <a class="button is-primary "
                                   href="{% url 'chart' %}?product_id={{ product.id | unlocalize }}">
                                    <span>Ver historial ({{ product.num_prices }})</span>
                                    <span class="icon is-small"><i class="fas fa-chart-line"></i></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--Pagination -->
                <!-- Adapted from https://www.ordinarycoders.com/blog/article/django-pagination -->
                <nav class="pagination is-centered mt-5" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <a class="pagination-link"
                                {% if products.has_previous %}
                           href="?{{ parameters }}&page={{ products.previous_page_number }}"
                                {% else %}
                           title="This is the first page" disabled
                                {% endif %}
                        >
                            Anterior
                        </a>

                        {% if products.number|add:'-2' > 1 %}
                            <li><a class="pagination-link" aria-label="Goto page 1"
                                   href="?page=1&{{ parameters }}">1</a>
                            </li>
                            <li><a class="pagination-ellipsis"
                                   href="?{{ parameters }}&page={{ products.number|add:'-3' }}">&hellip;</a>
                            </li>
                        {% endif %}


                        {% for page in products.paginator.page_range %}
                            {% if products.number == page %}
                                <li><a class="pagination-link is-current" aria-label="Page {{ page }}"
                                       aria-current="page">{{ page }}</a></li>
                            {% elif page > products.number|add:'-3' and page < products.number|add:'3' %}
                                <li><a class="pagination-link" aria-label="Goto page {{ page }}"
                                       href="?{{ parameters }}&page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}


                        {% if products.paginator.num_pages > products.number|add:'2' %}
                            <li><a class="pagination-ellipsis"
                                   href="?{{ parameters }}&page={{ products.number|add:'3' }}">&hellip;</a>
                            </li>


                            <li>
                                <a class="pagination-link" aria-label="Goto page 1"
                                   href="?{{ parameters }}&page={{ products.paginator.num_pages }}"
                                >
                                    {{ products.paginator.num_pages }}
                                </a>
                            </li>
                        {% endif %}

                        <a class="pagination-link"
                                {% if products.has_next %}
                           href="?{{ parameters }}&page={{ products.next_page_number }}"
                                {% else %}
                           title="This is the last page" disabled
                                {% endif %}
                        >
                            Siguiente
                        </a>

                    </ul>
                </nav>
                <!--end of Pagination-->
            </div>
            <!-- </ Results Table > -->
        {% endif %}

    </div>

{% endblock %}


