{% extends 'product/base.html' %}

{% block libs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <div style="width: 100%">
            <canvas id="myChart"></canvas>
        </div>
        <script>
            const chartColors = [
                'rgb(255,99,132)',              // red
                'rgb(54,162,235)',              // blue
                'rgb(75,192,192)',              // green
                'rgb(255, 159, 64)',            // orange
                'rgb(255, 205, 86)',            // yellow
                'rgb(153,102,255)',             // purple
                'rgb(201, 203, 207)',           // grey
            ]

            function addThousandSeparator(value) {
                return value.toLocaleString('es');
            }

            function parseResponse(response) {
                return response.map((product, index) => {
                    let color = chartColors[index % chartColors.length]
                    return {
                        label: product.name + ' (' + product.shop.name + ')',
                        borderColor: color,
                        backgroundColor: color,
                        fill: false,
                        data: product.price_history.map(price => {
                            return {
                                x: Date.parse(price.date),
                                y: price.price,
                            }
                        })
                    }
                })
            }

            let endpoint = '{% url 'api-chart' %}'
            let query_param = {{ chart_query_params|safe }};

            $.ajax({
                method: 'GET',
                url: endpoint,
                data: query_param,
                traditional: true,
                success: function (response) {
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            datasets: parseResponse(response)
                        },
                        options: {
                            responsive: true,
                            title: {
                                text: 'Historial de precios'
                            },
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        displayFormats: {
                                            day: 'DD/MM/YY'
                                        },
                                        tooltipFormat: 'DD/MM/YY HH:mm'
                                    },
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Precio'
                                    },
                                    ticks: {
                                        // Show prices with thousand separator in y axis label
                                        callback: function (value, index, values) {
                                            return addThousandSeparator(value);
                                        }
                                    }
                                }]
                            },
                            tooltips: {
                                callbacks: {
                                    // Show product name with price when hover over data point
                                    label: function (tooltipItems, dataset) {
                                        return dataset.datasets[tooltipItems.datasetIndex].label + ": " + addThousandSeparator(tooltipItems.yLabel);
                                    }
                                }
                            },
                        }
                    });
                },
                error: function (response) {
                    console.log('Error');
                    console.log(response);
                }
            })
        </script>
    </div>
{% endblock %}
